@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Modak&display=swap');
@import "tailwindcss";

:root {
  font-family: "Jost", system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #eaeae9;
  background-color: #0e121a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  height: 100vh;
  width: 100vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
